/************************************** GLOBAL **************************************/

*{
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat';
}

.global-button{
    width: 170px;
    height: 63px;
    text-align: center;
    padding-top: 14px;
    text-transform: uppercase;
    background-color: rgba(24, 207, 171, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-radius: 5px;
    box-shadow: rgb(255 255 255) 0px -4px 0px 0px;
}

.global-button:hover{
    box-shadow: rgb(255 255 255) 0px 0px 0px 0px;
    margin-top: -4px;
    cursor: pointer;
}

.global-caption-txt{
    margin-top: 80px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: rgba(78, 78, 78, 1);
}

.load-more-btn{
    position: relative;
    padding-left: 23px;
}

.load-more-btn::before{
    position: absolute;
    width: 19px;
    height: 19px;
    content: url(../img/main/work-section/plus.png);
    background-size: cover;
    background-position: center;
    left: 19px;
    top: 17px;
}

/* 888888888888888888 HEADER 888888888888888888 */

.brd {
    border: 1px solid red;
}

.header-wrapper{
    min-width: 1200px;
    max-width: 100%;
    height: 1010px;
    
    background-image: url(../img/nav/Layer1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-main-wrapper{
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: center;
    
}

.nav-content-wrapper{
    max-width: 1160px;
    height: 120px;
    display: flex;
}


/* *******LOGO******* */


.logo-wrapper{
    display: flex;
    align-items: center;
    margin-right: 305px;
}

.logo-img{
    background-image: url(../img/nav/Polygon1.png);
    width: 58px;
    height: 67px;
    position: relative;
    margin-right: 6px;
}

.logo-h{
    position: absolute;
    left: 13px;
    top: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: rgba(255, 255, 255, 1);
}

.logo-the {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);
    }

.logo-ham{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: rgba(24, 207, 171, 1);
}


/* *******NAVBAR******* */


.nav-list {
    display: flex;
    align-items: center;
}

.nav-li-item{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 21px;
    color: rgba(255, 255, 255, 0.6);
}

.search-icon {
    margin-right: 0;
    background-image: url(../img/nav/lupa1.png);
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.nav-li-item:hover:not(:last-child){
    color: rgba(24, 207, 171, 1);
    border-bottom: 2px solid rgba(24, 207, 171, 1);
    padding-top: 47px;
    padding-bottom: 46px;
    cursor: pointer;
}

.search-icon:hover{
    background-image: url(../img/nav/lupa2.png);
}

.nav-li-item:last-child:hover {
    border-bottom: 2px solid rgba(24, 207, 171, 1);
    padding-top: 50px;
    padding-bottom: 49px;
    cursor: pointer;
}


/* *******HEADER_TXT******* */

.header-txt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

header > div > div > p{
    color: rgba(255, 255, 255, 1);
}

header > div > p{
    color: rgba(255, 255, 255, 1);
}

.header-text-one{
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    margin-top: 265px;
    height: 35px;
}

.header-text-one > span:last-child{
    color: rgba(24, 207, 171, 1);
}

.header-text-two{
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    margin-top: 40px;
    height: 80px;
}

.header-text-three{
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    height: 35;
    color: rgba(212, 212, 212, 1);
}

header > div > div{
    color: rgba(255, 255, 255, 1);
}

.header-button-wrapper{
    display: flex;
    margin-top: 130px;
}

.right-b{
    background-color: rgba(0, 203, 246, 1);
    margin-left: 26px;
}


/* 888888888888888888 MAIN 888888888888888888 */


/* *******BLOCK-SECTION******* */

.block-sec{
    display: flex;
    margin-top: 10px;
    min-width: 1200px;
}

.block-item{
    height: 380px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.var-one-itm{
    background-color: rgba(28, 42, 51, 1);
    color: rgba(24, 207, 171, 1);
}

.var-two-itm{
    background-color: rgba(24, 207, 171, 1);
    color: rgba(255, 255, 255, 1);
}

.block-img-wrapp{
    width: 100px;
    height: 100px; 
    text-align: center;
}

.block-txt{
    margin-top: 47px;

}

/* *******SERVICES-SECTION******* */

.services-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
    min-width: 1200px;

}

.services-content-wrapper{
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-underline{
    position: relative;
}

.services-underline::after{
    position: absolute;
    content: "";
    width: 80px;
    border-bottom: 1px solid rgba(24, 207, 171, 1);
    right: 80px;
    top: 65px;
}

.services-underline::before{
    position: absolute;
    content: "";
    width: 80px;
    border-bottom: 1px solid rgba(24, 207, 171, 1);
    right: 66px;
    top: 69px;
}

.services-list{
    display: flex;
    margin-top: 65px;
}

.services-li-item{
    font-weight: 400;
    font-size: 15.9859px;
    line-height: 39px;
    padding: 17px 35px;
    position: relative;
}

.services-li-item:hover{
    padding: 17px 35px;
    outline: 1.5px solid rgba(24, 207, 171, 1);
    cursor: pointer;
}

.triangleblock{
    display: block;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 8px solid rgba(24, 207, 171, 1);
    display: none;
}

.one-tri{
    position: absolute;
    left: 69px;
    top: 73px;
}

.two-tri{
    position: absolute;
    left: 82px;
    top: 73px;
}

.three-tri{
    position: absolute;
    left: 84px;
    top: 73px;
}

.four-tri{
    position: absolute;
    left: 69px;
    top: 73px;
}

.five-tri{
    position: absolute;
    left: 90px;
    top: 73px;
}

.six-tri{
    position: absolute;
    left: 67px;
    top: 73px;
}

.services-info-wrapp{
    justify-content: center;
    margin-top: 23px;
}

.services-info{
    display: flex;
}

.active-info{
    display: block;
}

.services-txt{
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: rgba(119, 119, 119, 1);
    margin-left: 15px;
}

.services-img{
    margin-left: 33px;
    width: 192px;
    height: 144px;
}

/* JS-SERVICES-SECTION */

.inactive-info{
    display: none;
}

.seritemfocus{
    background-color: rgba(24, 207, 171, 1);
    outline: 1.5px solid rgba(24, 207, 171, 1)
}

/* JS-SERVICES-SECTION */

/* *******BAY-SECTION******* */

.bay-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
    height: 475px;
    background-image: url(../img/main/bay-section/Layer\ 21\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.bay-section-txt-wrapp{
    text-align: center;
    max-width: 1160px;
}

.bay-section-txt-one{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: rgba(24, 207, 171, 1);
}

.bay-section-txt-two{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: rgba(216, 216, 216, 1);
    margin-bottom: 85px;
}

.bay-section-btn-wrapp{

    width: 170px;
    height: 67px;
}

/* *******OUR-WORK-SECTION******* */

.our-work-section{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
    min-height: 1210px;
    background-color: rgba(233, 237, 239, 1);
}

.work-section-wrapper{
max-width: 1160px;
display: flex;
flex-direction: column;
align-items: center;
}

.work-underline{
    position: relative;
}

.work-underline::after{
    position: absolute;
    content: "";
    width: 80px;
    border-bottom: 1px solid rgba(24, 207, 171, 1);
    right: 140px;
    top: 65px;
}

.work-underline::before{
    position: absolute;
    content: "";
    width: 80px;
    border-bottom: 1px solid rgba(24, 207, 171, 1);
    right: 126px;
    top: 69px;
}

.work-list{
    display: flex;
    margin-top: 70px;
}

.work-li-item{
    padding: 17px 30px;
    outline: 1px solid rgba(218, 218, 218, 1);
}

.work-li-item:hover{
    outline: 2px solid rgba(24, 207, 171, 1);
    cursor: pointer;
}

.work-img-cont{
    width: 283px;
    height: 206px;
    float: left;
    position: relative;
    transition: 5s;
}

.work-img-cont:hover .hover-block{
    display: flex;
    transition: 5s;
}

.hover-block{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 283px;
    height: 206px;
    background-color: rgba(233, 237, 239, 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.hover-block::after{
    content: url(../img/main/work-section/iconhov.png);
    position: absolute;
    left: 98px;
    top: 45px
}

.hover-block::before{
    position: absolute;
    content: "";
    width: 283px;
    height: 3px;
    background-color: rgba(24, 207, 171, 1);
    left: 0px;
    top: 0px;
}

.hover-block > span{
    margin-top: 8px;
    color: rgba(138, 138, 138, 1);
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
}

.hover-block > span:first-child{
    color: rgba(24, 207, 171, 1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    margin-top: 75px;
}

.work-section-img-contenir{
    padding-left: 14px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.two-work-cont {
    display: none;
}

/* JS-WORCK-SECTION */

.hide-work-img{
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.two-work-cont-act{
    display: block;
}

.work-btn-inactiv{
    display: none;
}

/* JS-WORCK-SECTION */

/* *******NEWS-SECTION******* */

.news-section{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
    min-height: 960px;
}

.news-section-wrapper{
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-underline{
    position: relative;
}

.news-underline::after{
    position: absolute;
    content: "";
    width: 80px;
    border-bottom: 1px solid rgba(24, 207, 171, 1);
    right: 95px;
    top: 65px;
}

.news-underline::before{
    position: absolute;
    content: "";
    width: 80px;
    border-bottom: 1px solid rgba(24, 207, 171, 1);
    right: 81px;
    top: 69px;
}

.news-content-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-top: 70px;
}

.news-content-item{
    width: 265px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content-txt-wrapp{
    margin-right: 50px ;
}

.news-txt-one{
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    margin-top: 3px;
    color: rgba(113, 113, 113, 1);
}

.news-txt-two{
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    margin-top: -10px;
    color: rgba(119, 119, 119, 1);
}

.news-img-contenir{
    position: relative;
}

.news-img-date{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgba(32, 62, 56, 1);
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-img-date > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
}

.news-content-item:hover{
    cursor: pointer;
}

.news-content-item:hover > .news-img-contenir > .news-img-date{
    background-color: rgba(24, 207, 171, 1);
}

.news-content-item:hover > .news-content-txt-wrapp > .news-txt-one{
    color: rgba(24, 207, 171, 1);
}

/* *******PEOPLE-SECTION******* */

.people-section{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
    height: 855px;
    background-image: url(../img/main/people-section/Layer333.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.people-section-wrapper{
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.for-people{
    color: rgba(255, 255, 255, 1);
}

.people-quotes{
    width: 47px;
    height: 38px;
    background-image: url(../img/main/people-section/quotes2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 65px;
}

.people-slider-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

.slider-txt-wrapper{
    margin-bottom: 38px;
}

.slider-txt-item{
    display: none;
    flex-direction: column;
    text-align: center;
    margin-right: 140px;
    margin-left: -140px;
}

.slider-txt-item-prev{
    display: none;
    flex-direction: column;
    text-align: center;
    margin-right: -140px;
    margin-left: 140px;
}

.slider-txt-one{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: rgba(187, 187, 187, 1);
}

.slider-txt-two{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: rgba(24, 207, 171, 1);
    margin-top: 35px;
}

.slider-txt-three{
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: rgba(187, 187, 187, 1);
}

.big-img-people-wrapp{
    margin-bottom: 60px;
}

.big-img-people-item{
    width: 145px;
    height: 145px;
    display: none;
    padding-top: 40px;   
}

.big-img-people-item > img{
    width: 145px;
    height: 145px;
    outline: 10px solid rgba(31, 218, 181, 0.2);
    border-radius: 70px;
}

.people-nav{
    display: flex;
    align-items: center;
}

.people-nav-btn{
    width: 30px;
    height: 30px;
    background-image: url(../img/main/people-section/Forma1.png);
    background-repeat: no-repeat;
    background-position: center;
    outline: 1px solid rgba(187, 187, 187, 1);
    margin-right: 35px;
    cursor: pointer;
}

.people-nav-btn:last-child{
    margin-right: 0px;
    background-image: url(../img/main/people-section/Forma2.png);
}

.people-nav-btn:hover{
    background-color: rgba(24, 207, 171, 1);
    outline: 1px solid rgba(24, 207, 171, 1);
}

.people-nav-item{
    margin-right: 35px;
    cursor: pointer;
}

.people-nav-item > img{
    width: 60px;
    height: 60px;
    outline: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50px;
    
}

.people-nav-item:hover > img{
    outline: 5px solid rgba(31, 218, 181, 0.4);
    transition: 1s;
}

/* JS-PEOPLE-SECTION */

.slider-txt-activ{
    display: flex;
    opacity: 0;
    animation-name: p1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.activ-people{
    display: block;
    opacity: 0;
    animation-name: p2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.activ-people-nav{
    animation-name: p3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.inactiv-people-nav{
    margin-top: -30px;
    animation-name: p4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* JS-PEOPLE-SECTION */

/* *******GALLERY-SECTION******* */

.gallery-section{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
    height: 1370px;
}

.gallery-section-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1160px;
}

.gallery-underline{
    position: relative;
}

.gallery-underline::after{
    position: absolute;
    content: "";
    width: 80px;
    border-bottom: 1px solid rgba(24, 207, 171, 1);
    right: 160px;
    top: 65px;
}

.gallery-underline::before{
    position: absolute;
    content: "";
    width: 80px;
    border-bottom: 1px solid rgba(24, 207, 171, 1);
    right: 146px;
    top: 69px;
}

.gallery-grid-contenir{
    margin-top: 80px;
    height: 921px;
    width: 100%;
    display: grid;
    grid-template-areas: "one two three"
                        "one two six" 
                        "four two six"
                        "four five six"
                        "four five nine"
                        "seven five nine"
                        "seven eight nine";
    grid-gap: 17px;
    margin-bottom: 50px;
}

.itm1{
    grid-area: one;
    height: 263px;
}

.itm2{
    grid-area: two;
    height: 380px;
}

.itm3{
    grid-area: three;
    height: 168px;
    width: 374px;
    display: flex;
}

.gall-grid-item-three{
    width: 180px;
    height: 168px;
    margin-right: 3px;
}

.itm4{
    grid-area: four;
    height: 263px;
}

.itm5{
    grid-area: five;
    height: 247px;
}

.itm6{
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 92px);
    grid-area: six;
    height: 280px;
    width: 374px;
    grid-gap: 2px;
}

.gall-grid-item-min > img{
    width: 100%;
    height: 100%;
}

.itm7{
    grid-area: seven;
    height: 290px;
    margin-top: -80px;
}

.itm8{
    grid-area: eight;
    height: 254px;
}

.itm9{
    grid-area: nine;
    height: 373px;
    margin-top: -35px;
}

/* 888888888888888888 FOOTER 888888888888888888 */

.footer-wrapper{
    width: 100%;
    min-width: 1200px;
    height: 120px;
    background-color: rgba(34, 53, 63, 1);
    text-align: center;
}

.footer-wrapper > p{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: rgba(174, 174, 174, 1);
    padding: 47px;
}

.footer-wrapper > p > span{
    color: rgba(24, 207, 171, 1);
}

/* ANIMATION */

@keyframes a1 {
    to{
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0;
        margin: 0;
        border: 0;
    }  
}

@keyframes p1 {
    to{
        opacity: 1;
        margin-right: 0px;
        margin-left: 0px;
    }
    
}

@keyframes p2 {
    to{
        opacity: 1;
        padding-top: 0px;
    }
    
}

@keyframes p3 {
    to{
    margin-top: -30px;
    }
    
}

@keyframes p4 {
    to{
    margin-top: 0px;
    }
}

/* FONTS */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/montserrat-v25-latin-regular.woff2) format('woff2');
}